/* Reset de márgenes y rellenos */
* {
  margin: 0 10px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #d6d7f1;
  color: black;
}

.navegador nav ul li{
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  padding: 5px;
}

.logo-img{
  width: 200px; /* Ancho */
  height: 80px; /* Alto */
}

.navegador nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navegador nav ul li a{
  text-decoration: none;
}

/* FORM */

.contenedor-buscador{
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
  align-items: end;
}

.form-buscar input{
  border-radius: 5px;
}

.form-buscar button{
  border-radius: 5px;
  background-color: black;
  color: white;
}

.div-jugadores{
  display: flex;
  flex-direction: column;
  padding: 5px;
}


.date-partidos {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  color: #333;
  }

  .partidos-container {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  padding: 0 15px; 
  }

  .partido {
  background-color: #f9f9f9; 
  border: 1px solid #2e2e2e; 
  border-radius: 10px; 
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s;
  background-color: #cacbdf;
  }


  .partido:hover {
  transform: scale(1.01); 
  }


  .partido-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cacbdf;
  }


  .partido-info a {
  text-decoration: none;
  color: #cacbdf;
  font-weight: bold;
  }


  .img-equipo1, .img-equipo2 {
  width: 70px; 
  height: 50px;
  }

  .btn-mas{
      background-color: black;
      color: white;
      border-radius: 5px;
  }


  @media (max-width: 600px) {
  .date-partidos {
  font-size: 20px;
  }

  .partido-info {
  flex-direction: column; 
  align-items: flex-start;
  }

  .imagenes {
  flex-direction: column;
  }

}

.partido-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.partido-info img {
  margin: 5px 0;
  background-color: #cacbdf;
}

.partido-info p{
  width: 150px; /* Establece un ancho fijo de 200px */
  white-space: nowrap;
  overflow: hidden;
  background-color: #cacbdf;
}

footer {
  text-align: center;
  padding: 5px;
  margin: 5px ;
}