{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/estilos.css' %}">
    <title>promenba</title>
</head>
<body>
    <header>
        <!-- Contenido del header -->
         <div class="logo">
            <a href="/"><img class="logo-img" src="/static/img/Logo.png" alt="Logo de la pagina"></a>
         </div>
    </header>
<h1>{{datos.nombre}}</h1>
<table border="1" class="Tabla-Estadisticas">
    <thead>
      <tr>
        <th colspan="2">Estadísticas de Temporada Regular</th>
      </tr>
      <tr>
        <th>Descripción</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Equipo</td>
        <td>{{ datos.estadisticasTemporadaRegular.4 }}</td>
      </tr>
      <tr>
        <td>Temporada</td>
        <td>{{ datos.estadisticasTemporadaRegular.1 }}</td>
      </tr>
      <tr>
        <td>Edad</td>
        <td>{{ datos.estadisticasTemporadaRegular.5 }}</td>
      </tr>
      <tr>
        <td>Partidos Jugados</td>
        <td>{{ datos.estadisticasTemporadaRegular.6 }}</td>
      </tr>
      <tr>
        <td>Partidos como Titular</td>
        <td>{{ datos.estadisticasTemporadaRegular.7 }}</td>
      </tr>
      <tr>
        <td>Minutos por Partido</td>
        <td>{{ datos.estadisticasTemporadaRegular.8 }}</td>
      </tr>
      <tr>
        <td>Goles de Campo Hechos (FGM)</td>
        <td>{{ datos.estadisticasTemporadaRegular.9 }}</td>
      </tr>
      <tr>
        <td>Goles de Campo Intentados (FGA)</td>
        <td>{{ datos.estadisticasTemporadaRegular.10 }}</td>
      </tr>
      <tr>
        <td>Porcentaje de Goles de Campo (FG%)</td>
        <td>{{ datos.estadisticasTemporadaRegular.11 }}</td>
      </tr>
      <tr>
        <td>Triple Hechos (3PM)</td>
        <td>{{ datos.estadisticasTemporadaRegular.12 }}</td>
      </tr>
      <tr>
        <td>Triple Intentados (3PA)</td>
        <td>{{ datos.estadisticasTemporadaRegular.13 }}</td>
      </tr>
      <tr>
        <td>Porcentaje de Triple (3P%)</td>
        <td>{{ datos.estadisticasTemporadaRegular.14 }}</td>
      </tr>
      <tr>
        <td>Tiros Libres Hechos (FTM)</td>
        <td>{{ datos.estadisticasTemporadaRegular.15 }}</td>
      </tr>
      <tr>
        <td>Tiros Libres Intentados (FTA)</td>
        <td>{{ datos.estadisticasTemporadaRegular.16 }}</td>
      </tr>
      <tr>
        <td>Porcentaje de Tiros Libres (FT%)</td>
        <td>{{ datos.estadisticasTemporadaRegular.17 }}</td>
      </tr>
      <tr>
        <td>Rebotes Ofensivos (OREB)</td>
        <td>{{ datos.estadisticasTemporadaRegular.18 }}</td>
      </tr>
      <tr>
        <td>Rebotes Defensivos (DREB)</td>
        <td>{{ datos.estadisticasTemporadaRegular.19 }}</td>
      </tr>
      <tr>
        <td>Total de Rebotes (REB)</td>
        <td>{{ datos.estadisticasTemporadaRegular.20 }}</td>
      </tr>
      <tr>
        <td>Asistencias (AST)</td>
        <td>{{ datos.estadisticasTemporadaRegular.21 }}</td>
      </tr>
      <tr>
        <td>Robos (STL)</td>
        <td>{{ datos.estadisticasTemporadaRegular.22 }}</td>
      </tr>
      <tr>
        <td>Bloqueos (BLK)</td>
        <td>{{ datos.estadisticasTemporadaRegular.23 }}</td>
      </tr>
      <tr>
        <td>Pérdidas de Balón (TOV)</td>
        <td>{{ datos.estadisticasTemporadaRegular.24 }}</td>
      </tr>
      <tr>
        <td>Faltas Personales (PF)</td>
        <td>{{ datos.estadisticasTemporadaRegular.25 }}</td>
      </tr>
      <tr>
        <td>Puntos (PTS)</td>
        <td>{{ datos.estadisticasTemporadaRegular.26}}
        </tr>
    </tbody>
  </table>
  
  <div class="Separador"></div>
  
  <table border="1" class="Tabla-Estadisticas">
    <thead>
      <tr>
        <th colspan="2">Estadísticas de Playoff</th>
      </tr>
      <tr>
        <th>Descripción</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Equipo</td>
        <td>{{ datos.estadisticasPlayOff.4 }}</td>
      </tr>
      <tr>
        <td>Temporada</td>
        <td>{{ datos.estadisticasPlayOff.1 }}</td>
      </tr>
      <tr>
        <td>Edad</td>
        <td>{{ datos.estadisticasPlayOff.5 }}</td>
      </tr>
      <tr>
        <td>Partidos Jugados</td>
        <td>{{ datos.estadisticasPlayOff.6 }}</td>
      </tr>
      <tr>
        <td>Partidos Comenzados</td>
        <td>{{ datos.estadisticasPlayOff.7 }}</td>
      </tr>
      <tr>
        <td>Minutos Jugados</td>
        <td>{{ datos.estadisticasPlayOff.8 }}</td>
      </tr>
      <tr>
        <td>Canastas de Campo Realizadas</td>
        <td>{{ datos.estadisticasPlayOff.9 }}</td>
      </tr>
      <tr>
        <td>Intentos de Canastas de Campo</td>
        <td>{{ datos.estadisticasPlayOff.10 }}</td>
      </tr>
      <tr>
        <td>Porcentaje de Canastas de Campo</td>
        <td>{{ datos.estadisticasPlayOff.11 }}</td>
      </tr>
      <tr>
        <td>Canastas de Tres Puntos Realizadas</td>
        <td>{{ datos.estadisticasPlayOff.12 }}</td>
      </tr>
      <tr>
        <td>Intentos de Canastas de Tres Puntos</td>
        <td>{{ datos.estadisticasPlayOff.13 }}</td>
      </tr>
      <tr>
        <td>Porcentaje de Canastas de Tres Puntos</td>
        <td>{{ datos.estadisticasPlayOff.14 }}</td>
      </tr>
      <tr>
        <td>Tiros Libres Realizados</td>
        <td>{{ datos.estadisticasPlayOff.15 }}</td>
      </tr>
      <tr>
        <td>Intentos de Tiros Libres</td>
        <td>{{ datos.estadisticasPlayOff.16 }}</td>
      </tr>
      <tr>
        <td>Porcentaje de Tiros Libres</td>
        <td>{{ datos.estadisticasPlayOff.17 }}</td>
      </tr>
      <tr>
        <td>Rebotes Ofensivos</td>
        <td>{{ datos.estadisticasPlayOff.18 }}</td>
      </tr>
      <tr>
        <td>Rebotes Defensivos</td>
        <td>{{ datos.estadisticasPlayOff.19 }}</td>
      </tr>
      <tr>
        <td>Total de Rebotes</td>
        <td>{{ datos.estadisticasPlayOff.20 }}</td>
      </tr>
      <tr>
        <td>Asistencias</td>
        <td>{{ datos.estadisticasPlayOff.21 }}</td>
      </tr>
      <tr>
        <td>Robos</td>
        <td>{{ datos.estadisticasPlayOff.22 }}</td>
      </tr>
      <tr>
        <td>Bloqueos</td>
        <td>{{ datos.estadisticasPlayOff.23 }}</td>
      </tr>
      <tr>
        <td>Pérdidas de Balón</td>
        <td>{{ datos.estadisticasPlayOff.24 }}</td>
      </tr>
      <tr>
        <td>Faltas Personales</td>
        <td>{{ datos.estadisticasPlayOff.25 }}</td>
      </tr>
      <tr>
        <td>Puntos</td>
        <td>{{ datos.estadisticasPlayOff.26 }}</td>
    </tr>
</tbody>
</table>
</body>