<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <button>Buscar</button>
    <div id="teclas-precionadas"></div>
    <div id="miDiv">
    </div>
</form>

<script>
    const inputNombre = document.getElementById('id_nombre');
    const teclasPrecionadas = document.getElementById('teclas-precionadas');
    const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value; //SIRVE PARA CSRF
    const divContenidoJugadores = document.getElementById('miDiv');
    let texto = '';

    inputNombre.addEventListener('keyup', async function(event) {
        const teclaPrecionada = event.key;

        const teclasEspeciales = [
        "Alt",
        "AltGraph",
        "CapsLock",
        "Meta",
        "NumLock",
        "ScrollLock",
        "Shift",
        "Symbol",
        "SymbolLock",
        ];
    
        if (teclasEspeciales.includes(teclaPrecionada)) {
            // Ignora la tecla especial
            return;
        }
        
        if (event.key === "Backspace"){
            texto = texto.slice(0, -1);
        if (inputNombre.value.trim()===""){
            texto="";
        }
        } else if (event.key === "Control") {
            // Si se ha pegado texto, actualiza el valor de texto
            texto = inputNombre.value.trim();
        } else {
            texto += teclaPrecionada;
        }

        fetch('/jugador/buscar_jugadores/datos', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({nombre: texto})
        })
        .then(response => response.json())
        .then(data => {
            const jugadores = data.jugadores;
            teclasPrecionadas.innerHTML = texto; // Actualiza el contenido aquí
            divContenidoJugadores.innerHTML = "";
            if (inputNombre.value!=""){
            jugadores.forEach(jugador => {
                divContenidoJugadores.innerHTML += `<a href="/jugador/${jugador.full_name}">${jugador.full_name}</a>`;
                });
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>